.countyHeader{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aliceblue;
    text-align: center;
    background-color: #cf2e2e;
    opacity: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.headerImage{
    min-height: 20vh;
}
/* header{
    background-image: url(img/Trailer_-_A_Place_to_call_Home.jpeg);
    background-position: 0% 60%;
} */

.joinHeader{
    background-image: url(img/Trailer_-_A_Place_to_call_Home.jpeg);
    background-position: 50% 60%;
}


.homeHeader{
    background-image: url(img/main1.jpg);
    background-position: 50% 50%;
}

.tradingHeader{
    background-image: url(img/Trailer_-_Forest_Path.jpeg);
    background-position: 30% 80%;
}

.craftingHeader{
    background-image: url(img/Modular_House-building_Systems_w.jpeg);
    background-position: 50% 60%;
}

.militaryHeader{
    background-image: url(img/Trailer_-_On_the_Road.jpeg);
    background-position: 60% 60%;
}

.magicHeader{
    background-image: url(img/Myths_Are_Real_and_Magic_Unquestioned_w.jpeg);
    background-position: 30% 30%;
}

body{
    margin: 0;
}
h2{
    margin: 0;
    text-align: center;
}
.mainSection{
    margin: 0;
}

.discordLink{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.mainColour{
    background-color: #cf2e2e;
    color: black;
}
.secondaryColour{
    background-color: aliceblue;
}
.secondaryText{
    color: aliceblue;
    background-color: black;
}
a:focus, a:hover{
    background-color: #8f1919;
}
nav {

    background-color: #8f1919;
    color: aliceblue;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #8f1919;
}
.navbar-inverse .navbar-nav > li > a {
    color: aliceblue;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
    background-color: #8f1919;

}
.container-fluid{
    margin: 0,0,0,0;
}
.navbar{
    margin-bottom: 0;
}
.portrait{
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignRight{
    float:right
}
.textCenter{
    text-align: center;
}
.newsImage{
    max-width: 60vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.engineImage{
    max-width: 100%;
    height: auto;
}